:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.content-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-login{
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  background: #63b64e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card{
  color: #0a0a0a;
}